@import 'variables';
@import 'timesheetForm';
@import 'timesheetEntries';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.reports {
  margin-top: 5%;
}

.box {
  border-style: groove;
  text-align: center;
  border: 2px solid #e0e0e0;
}

